.app {
  width: 100%;
  min-height: 100vh;

  .content {
    flex: 1;
    padding-bottom: 4em;
  }

  .navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 2em;
    display: flex;
    backdrop-filter: blur(15px);
    border-top: 1px solid white;
    background-color: rgba(0, 0, 0, 0.096);

    .link-box {
      width: 50%;
      text-align: center;

      .link {
        text-decoration: none;
        border-radius: 3px;
        padding: 5px 25px;
        transition: background-color 0.3s ease, ;

        .icon {
          color: white;
          transition: color 0.3s ease;
        }
      }

      .link.active {
        background-color: rgba(255, 255, 255, 0.096);
        border-radius: 3px;
        .icon {
          color: rgb(151, 151, 151);
        }
      }  
    }
  } 
}

// * {
//   border: 1px solid greenyellow;
// }
